@use '../variaveis.scss';
@use '../mixins.scss';

#curriculo {
    @include mixins.flexRow();
    background-color: #eee;
    width: calc(variaveis.$col * 12);
    min-height: 100wv;

    padding: calc(variaveis.$col / 2);
    justify-content: flex-start;
    column-gap: calc(variaveis.$col / 2);
}