@use '../mixins';
@use '../variaveis.scss';

#header {
    @include mixins.fundo();
    
    width: variaveis.$col * 12;
    padding: 1.5em;

    text-align: center;
    h1{
        text-shadow: variaveis.$shadow;
    }
}

.header-animacao{
    animation: entradaHeader 2s ease;
}

@keyframes entradaHeader {
    0% {
        opacity: 0;
        transform: translateY(-4em);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}