@use '../mixins';
@use '../variaveis.scss';

#main-container {
    @include mixins.fundo();
    padding: 3rem;
    flex: 2 1 0;

    @media (max-width:variaveis.$viewport){
       padding: 1em;
    }
}

.main-animacao{
    animation: entradaMain 3.5s ease;
}

@keyframes entradaMain {
    0% {
        opacity: 0;
        transform: translateX(10em);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}