@use '../mixins.scss';
@use '../variaveis.scss';

.card-tec {
    border: 1px solid green;
    border-radius: .5em;
    width: calc(variaveis.$col * 5.5);
    padding: .5em;

    display: flex;

    .card-tec-icone{
        @include mixins.center();

        i {
            @include mixins.center();

            svg{
                font-size: 4em;
            } 
        }

        #html{
            svg{
                color: #e44d26;
            }
        }
        #css{
            svg{
                color: #1572b6;
            }
        }
        #js{
            svg{
                color: #f0db4f;
            }
        }
        #bt{
            svg{
                color: #7811f2;
            }
        }
        #react{
            svg{
                color: #00d1f7;
            }
        }
        #git{
            svg{
                color: #e94e31;
            }
        }
    }

    .card-tec-texto{
        h3 {

            text-transform: uppercase;
        }
    }




}