@use '../mixins.scss';
@use '../variaveis.scss';

.card-tec {
    @include mixins.fundo();
    width: calc(variaveis.$col * 5.5);
    padding: .5em;

    display: flex;

    transition: .5s;

    @media (max-width:variaveis.$viewport){
        width: 100%;
    }

    .card-tec-icone {
        @include mixins.center();

        i {
            @include mixins.center();

            svg {
                font-size: 4em;
            }
        }

        #html {
            svg {
                color: #e44d26;
            }
        }

        #css {
            svg {
                color: #1572b6;
            }
        }

        #js {
            svg {
                color: #f0db4f;
            }
        }

        #bt {
            svg {
                color: #7811f2;
            }
        }

        #react {
            svg {
                color: #00d1f7;
            }
        }

        #git {
            svg {
                color: #e94e31;
            }
        }

        #sass {
            svg {
                color: #cd6799;
            }
        }
    }

    .card-tec-texto {
        h3 {

            text-transform: uppercase;
        }
    }
}

.card-tec:hover {
    transform: scale(1.5);
}

.card-animacao {
    animation: entradaCard 4s ease-out;
}

@keyframes entradaCard {
    0% {
        opacity: 0;
        transform: translateX(18em);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}