@use '../mixins.scss';
@use '../variaveis.scss';

#rede-sociais{
    @include mixins.center();
    gap: 1em;
    margin: 1em 0;

    .social-link{
        @include mixins.center();
        @include mixins.fundoClaro();

        padding: .6em;
        font-size: 1.3em;
        transition: delay .3s;
    }
    #linkedin{
        color: #0072b1;
    }
    #instagram{
        color: #bc2a8d;
    }
    #github{
        color: #111;
    }
    #whatsapp{
        color: #1ad03f;
    }
    :hover >svg{
        transform: rotateY(360deg);
        transition: .9s;
    }
}