@use '../mixins.scss';
@use '../variaveis.scss';

#tecnologia {
    margin: 1em 0;
    .tecnologia-cards{
        @include mixins.center();
        @include mixins.flexRow();
        @include mixins.fundoClaro();
        padding: 1em 0;
        gap: 1.5em;

        @media (max-width:variaveis.$viewport){
            flex-direction: column;
            padding: 1em;
        }

    }
}