@use '../mixins.scss';
@use '../variaveis.scss';

#tecnologia {
    margin: 1em 0;
    .tecnologia-cards{
        border: 1px solid;
        @include mixins.center();
        @include mixins.flexRow();
        padding: .5em 0;
        gap: 1.5em;

    }
}