@use '../mixins.scss';
@use '../variaveis.scss';

#contato{
    @include mixins.center();
    background-color: #ddd;
    border-radius: 5px;

    margin-bottom: 2em;
    padding: 1em;

    flex-direction: column;

    text-align: left;
}