@use '../mixins.scss';
@use '../variaveis.scss';

#contato {
    @include mixins.center();
    @include mixins.fundoClaro();
    width: 95%;

    margin-bottom: 2em;
    padding: 1em;

    flex-direction: column;

    text-align: left;

    .contato-container {
        @include mixins.fundo();
        @include mixins.flexRow();
        padding: .5em;
    }
}

.contato-animacao{
    animation: entradaContato 3s ease;
}

@keyframes entradaContato {
    0% {
        opacity: 0;
        transform: translateX(-8em);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}