@use 'variaveis';
@use 'mixins';


// DEFINIÇÃO DE FORMATOS POR TAG

h1 {
    @include mixins.font('h1', 4em, capitalize);

    @media (max-width:variaveis.$viewport){
        font-size: 3em;
    }
}

h2 {
    @include mixins.font('subtitulo', 2em, capitalize);

    @media (max-width:variaveis.$viewport){
        font-size: 1.5em;
    }
}

h3 {
    @include mixins.font('subtitulo', 1em, none);

    @media (max-width:variaveis.$viewport){
        font-size: .9em;
    }
}

h6 {
    @include mixins.font('subtitulo', .8em, uppercase);
}

p {
    @include mixins.font('subtitulo', .9em, none);
    text-align: justify;
}

a,
svg {
    transition: .4s;
}

main{
    margin-top: calc(variaveis.$col / 2);
}


// IDENTAÇÃO DO INÍCO DO PARÁGRAFO
#sobre p, #tecnologia p, #projetos p{
    text-indent: 1em;

    @media (max-width:variaveis.$viewport){
        text-indent: 0;
    }
} 

