@use 'variaveis';
@use 'mixins';


// DEFINIÇÃO DE FORMATOS POR TAG

h1 {
    @include mixins.font('h1', 4em, capitalize);
}

h2 {
    @include mixins.font('subtitulo', 2em, capitalize);
}

h3 {
    @include mixins.font('subtitulo', 1em, none);
}

h6 {
    @include mixins.font('subtitulo', .8em, uppercase);
}

p {
    @include mixins.font('subtitulo', .9em, none);
    text-align: justify;
}

a,
svg {
    transition: .4s;
}

main{
    margin-top: calc(variaveis.$col / 2);
}

button{
    border-radius: 3em;
    padding: 1em 1.2em;
    text-decoration: none;
    transition: .3s;
}


// IDENTAÇÃO DO INÍCO DO PARÁGRAFO
#sobre p, #tecnologia p, #projetos p{
    text-indent: 1em;
} 
