@use 'variaveis';

@mixin font($font, $tamanho, $transform){
    font-family: $font;
    font-size: $tamanho;
    text-transform: $transform;  
}

@mixin flexRow(){
    display:  flex;
    flex-flow: row wrap;
}

