@font-face {
    font-family: 'h1';
    src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: 'subtitulo';
    src: url(../fonts/Aller-Bold.ttf);
}

@font-face {
    font-family: 'texto';
    src: url(../fonts/Aller-Light.ttf);
}

// VIEWPORT
$viewport: 700px;

// FONTS
$h1: 'h1';
$subtitulo: 'subtitulo';
$texto: 'texto';

//GRID
$col: 8.3333%;

// CORES
$shadow:  3px 3px 6px #11111140;
$shadowInterno: inset 3px 3px 6px #11111140;
