@font-face {
    font-family: 'h1';
    src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: 'subtitulo';
    src: url(../fonts/Aller-Bold.ttf);
}

@font-face {
    font-family: 'texto';
    src: url(../fonts/Aller-Light.ttf);
}

// FONTS
$h1: 'h1';
$subtitulo: 'subtitulo';
$texto: 'texto';

//GRID
$col: 8.3333%;
